@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.clearfix {
	background-color: #eeeeee;
	width:100%;
	padding-bottom:5%;
	margin: 0 30px;
	overflow: hidden;
}
body {
	background: #2f3238;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.codrops-header > nav{
	text-align: center;
}

a:hover, a:focus {
	color: #fff;
}

.skin-1 { background: #ccd1d5; color: #fff; }
.skin-1 a { color: #3498db; }
.skin-1 a:hover, .skin-1 a:focus { color: #2980b9; }

.skin-2 { background: #333; color: #fff; }
.skin-2 a { color: #edaa62; }
.skin-2 a:hover, .skin-2 a:focus { color: #fff; }

/* 筌롫뗄�뵥占쎈읂占쎌뵠筌욑옙 獄쏄퀗瑗� 占쎄퉳 獄쏅떽��疫뀐옙  */
.skin-3 { background: #ffffff; color: #42C690 }
.skin-3 a { color: #b3b3b3; }
/*.skin-3 a:hover, .skin-3 a:focus { color: #528176; }
/*.skin-3 a:visited, .skin-3 a:focus { color: #42C690; } 
/* 占쎌겱占쎌삺  占쎈립甕곤옙 占쎄깻�뵳占쏙옙�뻻 占쎄퉳占쎌뵠 占쎈┷占쎈즼占쎈툡 占쎌궎筌욑옙 占쎈륫占쎌벉  > js 占쎄텢占쎌뒠 占쎈퉸占쎈튊 占쎈릭占쎈뮉占쎈쾹  */

.select a:focus{ color: #42C690; } 



/* 筌욑옙疫뀐옙 甕곗쥙�뮞占쎈뱜 �뚎됱쑎  */


.skin-3 .best {  color: #636363 } /* <-- 占쎈연疫뀐옙 獄쏅떽��疫뀐옙 !  */
.skin-3 .toon1 {  color: #636363 } /* <-- 占쎈연疫뀐옙 獄쏅떽��疫뀐옙 !  */
.skin-3 .toon2 {  color: #636363 } /* <-- 占쎈연疫뀐옙 獄쏅떽��疫뀐옙 !  */
.skin-3 .toon3 { color: #636363 } /* <-- 占쎈연疫뀐옙 獄쏅떽��疫뀐옙 !  */

.skin-3 .detail_info{ color: #4e4e4e } /* <-- 占쎈연疫뀐옙 獄쏅떽��疫뀐옙 !  */


.skin-4 { background: #434d55; color: #eee; }
.skin-4 a { color: #2fa0ec; }
.skin-4 a:hover, .skin-4 a:focus { color: #eee; }

.skin-5 { background: #f9f6ee; color: #aaaa9f; }
.skin-5 a { color: #62b989; }
.skin-5 a:hover, .skin-4 a:focus { color: #737369; }

.skin-6 { background: #fff; color: #474843; }
.skin-6 a { color: #ff7474; }
.skin-6 a:hover, .skin-6 a:focus { color: #474843; }

.info{
	line-height: "100";
	font-size: small;
	padding-left: 2px;

}
.checkbox{
	padding-top: 15px;
	float: right;
	color:#636363;
}
.best{
	padding-top: 15px;
}
.content {
	max-width: 1290px;
	max-height: 760px;
	margin: 0 auto;
	text-align: left 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Header */
.codrops-header {
	margin-top: 10%;
	padding: 0 1em 0;
	letter-spacing: -1px;
}

.codrops-header strong {
	font-weight: 600;
	font-size: 30px;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	font-size: 40%;
	margin-top: 1em;
	font-weight: 400;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	opacity: 0.3;
	letter-spacing: 0px;
}

/* To Navigation Style */
.codrops-top {
	background-color: #ffffff;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
/* 占쎌뒄占쎌뵬癰귨옙 , 占쎌삢�몴占� , 占쎈탣占쎌삸占쎈쨲 占쎌쁽�뵳占�  */
.codrops-demos a {
	width: 30%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 0.3em 0;
	font-size: 20px;
	display: inline-block;
	border-bottom: 3px solid rgba(82, 78, 78, 0.2);
	border-color: initial;
}
.codrops-demos li {
	width: 30%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0.3em 0;
	font-size: 20px;
	display: inline-block;
	border-bottom: 3px solid rgba(82, 78, 78, 0.2);
	border-color: initial;
}
.codrops-demos{
	margin-bottom:10px;
	padding-left:0px;
	text-align: center;
}
.codrops-head a {
	width: 30%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0.3em 0;
	font-size: 15px;
	display: inline-block;
	border-bottom: 3px solid rgba(82, 78, 78, 0.2);
	border-color: initial;
}


/*
占쎈툡占쎌삋 獄쏅벡�뮞 �빊遺쏙옙占쎈릭疫뀐옙   
h1.b:after {
	content: "";
	display: block;
	width: 60px;
	border-bottom: 1px solid #bcbcbc;
	margin: 20px auto;
  } */

.week a {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0;
	padding: 0.3em 0;
	margin: 10px;
	font-size: 20px;

}
.codrops-demos a.current-demo {
	border-bottom-color: transparent;
}

/* Related demos */
.related {
	text-align: center;
	padding-top: 6em;
}

.related p {
	font-size: 1.15em;
}

.related > a {
	vertical-align: top;
	width: calc(100% - 20px);
	max-width: 340px;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 4px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media screen and (max-width: 27em) {
	.codrops-header,
	.related {
		font-size: 75%;
	}
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}

/* 占쎈뮩占쎌뵬占쎌뵠占쎈굡 css ========================================================== */

/* 占쎌럲占쎈뙀 占쎈굶占쎈선揶쏉옙占쎈뮉 占쎄퐬筌뤴뫁萸�  */
.grid__item {
    width: 5%;
    padding-top: 90px;
    padding-bottom: 90px
}

.toon_slider_box {
    border: solid 1px #eeeeee;
	padding-left: 2px;
    padding-right: 2px;
}
/*     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-left: 97px;
    padding-right: 97px;
    background: #ffffff;
} */

/*  */

/* 占쎈뮩占쎌뵬占쎌뵠占쎈굡 獄쏅벡�뮞 占쎄땀 占쎄땀�겫占� 筌띾뜆彛� */
.brands_slider {
    height: 100%;
    margin-top: 50px
}

.grid__item {
    height: 100%
}

/* 占쎌뵠沃섎챷占� 占쎄텢占쎌뵠筌앾옙 */
.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
/*     cursor: pointer */
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

/* 占쎈릭占쎈뼊 筌롫뗀�뤀  */
.foot table{
    width:100%;
}
.foot td{
    padding-top:10px;
    width : 33%
}
.foot{
    background-color: #ffffff;
    height:5%;
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    text-align: center;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	z-index: 1;
}
.foot a{
	justify-content: center;
	list-style:none;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1px;
	min-width: 50px;
	overflow: hidden;
	white-space: pre;
}
.foot img{
    display: inline;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* �뚣끇占썬끇�빍占쎈뼒 占쎌젫筌륅옙 獄쏉옙 占쎈쐭癰귣떯由� */
.cont_head{
	position : relative;
	height : 30px;
}
.cont_header{
	position : absolute;
	margin-left : 6%;
	color : #b3b3b3;
}
.cont_shortcut{
	position : relative;
	margin-right: 10%;
	text-align: right;
	font-size: 12px;
	margin-right:6%;
}


/* 占쎄틙 筌롫뗀�뤀 */
ul{
    -webkit-padding-start: 5%;
}
.week{
    padding-left: 0;
    padding-top : 5px;
    text-align: center;
}
#wrap {
	position:relative;
    padding: 0 1em 0;
    width : 100%;}
.row {
    list-style: none;
    display:inline;
    padding: 4%;
}

.tabArea {
    background-color: #fff;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    border: none;
    padding: 0 20px 0;
}

.tabArea .tab {
    display: flex;
    justify-content: space-between;
}

.tabArea .tab li a {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    }

        /* // 占쎄틙獄쏅벡�뮞 占쎌겫占쎈열 疫꿸퀡�궚 占쎌긿占쎈�∽옙占� 占쎈탵占쎈뮞占쎈탣占쎌쟿占쎌뵠 占쎈떜繹먲옙 */
.tabArea .tabBox {
	display: none;
}

        /* // 占쎄틙甕곌쑵�뱣占쎌뵠 占쎈땭占쎌쑎鈺곕슣�뱽占쎈뻻 �꽴占쏙옙�졃占쎈쭆 占쎄틙獄쏅벡�뮞 占쎌넞占쎄쉐占쎌넅 */
.tabArea .tabBox.on {
    display: block;
    }

.tabArea .tabBox p {
    font-size: 14px;
    color: #555;
    }

.tabArea .tabBox h3 {
    margin-bottom: 20px;
}

/* 占쎈뮩占쎌뵬占쎌뵠占쎈굡 獄쏅벡�뮞 */
/* 占쎌럲占쎈뙀 占쎈굶占쎈선揶쏉옙占쎈뮉 占쎄퐬筌뤴뫁萸�  */
.brands {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 10px
}

.brands_slider_container {
	height: 150px;
	border: solid 1px #eeeeee;
	/*     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
	padding-left: 3px;
	padding-right: 3px;
	background: #eeeeee;
}

/* 占쎈뮩占쎌뵬占쎌뵠占쎈굡 獄쏅벡�뮞 占쎄땀 占쎄땀�겫占� 筌띾뜆彛� */
.brands_slider {
	height: 100%;
	margin-top: 3px
}

.brands_item {
	height: 100%
}

/* 占쎌뵠沃섎챷占� 占쎄텢占쎌뵠筌앾옙 */
.brands_item img {
	max-width: 100%
}

.brands_nav {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-10%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 5px;
	/*     cursor: pointer */
}

.brands_nav i {
	color: #e5e5e5;
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease
}

.brands_nav:hover i {
	color: #676767
}

.brands_prev {
	left: 10px
}

.brands_next {
	right: 10px;
}


/* Community Write  */
input::placeholder{
	color: #b3b3b3;;
}
textarea::placeholder{
	color: #b3b3b3;;
}
.write_title{
	margin-left: 6%;
}
.write_title input{
	border: none;
	width:75%;
	height:30px;
	outline: none;
}
.write_title select{
	width:17%;
	height:30px;
	text-align: center;
	color: #acacac;
	font-size: 15px;
	text-align-last: center;
	border-radius: 3px;
	outline: none;
}
.write_cont{
	margin-left:6%;
}
.write_cont textarea{
	border:none;
	width:94%;
	height:500px;
	outline: none;
	resize: none;
}
.cont_shortcut button{
	height:25px;
	width: 60px;
	border: none;
	border-radius: 3px;
	background-color: #e0e0e0;
	margin-right: 0px;
	font-size : 12px;
	transition:0.5s;
 }
 .cont_shortcut button:focus{
	 transition:0.5s;
	 font-size:15px;
	 width:80px;
	 height:25px;
	 border-radius: 5px;
	 color:white;
	 background-color:#42C690;
	 outline: none;
 }


/* Community_view */
.cont_list ul{
	padding-left:0px;
	list-style: none;
	margin: 10px 6%;
}
.comm_search input{
	background-color: #eeeeee;
	border: none;
	width:30%;
	height:30px;
	margin-right:0%;
}
.comm_search ::placeholder{
	text-align: center;
}



/* 占쎌럲占쎈뙀 占쎄맒占쎄쉭占쎈읂占쎌뵠筌욑옙 */
.detail_info{
	background-color: #eeeeee;
	width: 100%;
	height: 200px;
}

.detail_info img{
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	width: 100px;
	height: 100px;
	display: block;
	margin-right: 10px;
}
.text_detail{
	height: 85px;
	width: 350px;
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 10px;
}
.detail_gen{
	border-radius: 2px;
	border: #aaaa9f solid 1px;
	font-size: small;
	color: #636363;
}

.detail_book{
	padding-left: 10px;
	width: 100px;
	height: 40px;
	font-size: small;
	color: #05ff75;
	text-align: center;
	display: block;

}
/*Detail_DAY css*/
.img_place{
	width:20%;
	margin-top:5px;
	float:left;
}
.info_place{
    padding-left: 3%;
}
.info_place span{
	margin-left:10px;
}
.info_place p{
	margin-bottom: 3px;
	padding-left:25%;
	font-size: 20px;
	color:#b3b3b3;
	width:80%;
	position:relative;
}
.toon_info{
    padding-top: 5%;
}
.genre{
	background-color: rgb(224, 222, 222);
	width:110px;
	height:30px;
	text-align: center;
	vertical-align: middle;
	margin-left:26%;
	margin-top: 15px;
	font-size: 15px;
	line-height: 30px;
	color:#b3b3b3;
}
.detail_buttons{
    margin-left: 10%;
    margin-top:10px;
    width:13%;
    float:left;
}
.detail_buttons button{
    border:none;
    text-align: center;
    width:100px;
    font-size:15px;
    outline: none;
}
.link_to{
    width:100%;
    text-align: right;
    margin-top: 20px;
    padding-right: 10%;
}
.link_to button{
    border-radius: 10px;
    border: none;
    background-color: #42C690;
    width:70%;
    height:30px;
    color: white;
}
.write_evaluate{
    margin: 20px 6%;
    color:#b3b3b3
}
.write_evaluate textarea{
    width:85%;
    height:50px;
    border: none;
    background-color: #eeeeee;
    resize: none;
    padding: 10px 15px;
}
.write_evaluate button{
    width:15%;
    height:50px;
    background-color: #eeeeee;
    border:none;
    border-left:1px solid #b3b3b3;
    padding:0px;
    float:right;
    color: #b3b3b3;
}
.write_evaluate select{
    border-radius:  none;
    background-color: #eee;
    color: #b3b3b3;
    border-radius: 10px;
    border:none;
    height:20px;
    line-height: 20px;
    padding: 0px 5px;
    
}
.evaluate{
    margin: 20px 6%;
}
.eval_info p{
    margin-bottom: 3px;
    padding-left: 60px;
    color:#b3b3b3;
}
.eval_info p:nth-child(2){
    float:right;
}
.modal .btn{
	cursor: pointer;
	border: 1px solid #999999;
	text-align: center;
	border-radius: 5px;
	outline: none;
	font-weight: 500;
}
.dimLayer{
	display: block;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	left: 0;
	top: 0px;
	margin: 0;
	padding: 0;
	z-index: 9998;}
.modal{
	width: 600px;
	height: 252px;
	border-radius: 10px;
	padding: 80px 24px;
	box-sizing: border-box;
	text-align: center;}
.modal-section{
	background: #ffffff;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.menu_msg{
	font-size: 21px;
	font-weight: 600;
	color: #676767;}
.enroll_box p{
	padding-bottom: 56px;
}
.gray_btn {
	width: 90px;
	background: #ffffff;
	color: #999999;
	line-height: 36px;
	transition: 0.5s;
	font-size: 17px;}
.pink_btn {
	width: 90px;
	background: #62b989;
	color: #fff;
	line-height: 36px;
	transition: 0.5s;
	font-size: 17px;
	border: none;}
.enroll_btn{
	text-align: center;
	padding: 5px;
}